<mat-toolbar>
  <img ngSrc="/assets/logo.png" alt="chicken" width="90" height="26" />
  <span [ngStyle]="{ 'margin-left': '8px' }">{{ title }}</span>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav
    #sidenav
    mode="side"
    [(opened)]="sidebarOpened"
    class="custom-sidebar"
  >
    <mat-card
      *ngIf="buildingLayer.selectedBuilding"
      appearance="outlined"
      class="card-sidebar"
    >
      <mat-card-header>
        <mat-card-title>Building</mat-card-title>
        <mat-card-subtitle>
          <a [href]="buildingLayer.selectedBuilding.osmUrl" target="”_blank”">{{
            buildingLayer.selectedBuilding.way_id
          }}</a>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div>
          Area: {{ buildingLayer.selectedBuilding.area | number: "1.0-0" }} m<sup>2</sup>
        </div>
        <div>
          Size: {{ buildingLayer.selectedBuilding.length | number: "1.0-0" }} x
          {{ buildingLayer.selectedBuilding.width | number: "1.0-0" }} m
        </div>
        <div>
          {{ buildingLayer.selectedBuilding.center.lat }}, {{ buildingLayer.selectedBuilding.center.lon }}
        </div>
        <br />
        <div class="mat-title-medium">Tags</div>
        <div *ngFor="let key of Object.keys(buildingLayer.selectedBuilding.tags)">
          {{ key }}: {{ buildingLayer.selectedBuilding.tags[key] }}
        </div>
        <br />
        <div class="mat-title-medium">Nearby addresses</div>
        <div *ngFor="let address of buildingLayer.selectedBuilding.addresses_nearby">
          {{ address.toString() }},
          {{
            address.coordinate.distanceTo(buildingLayer.selectedBuilding.center)
              | number: "1.0-0"
          }}
          m
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card
      *ngIf="companySelected"
      appearance="outlined"
      class="card-sidebar"
    >
      <mat-card-header>
        <mat-card-title>Company</mat-card-title>
        <mat-card-subtitle>
          <img
            *ngIf="companySelected.chicken"
            ngSrc="/assets/chicken60x60.png"
            alt="chicken"
            width="30"
            height="30"
          />
          <img
            *ngIf="companySelected.cattle"
            ngSrc="/assets/cow60x38.png"
            alt="chicken"
            width="30"
            height="19"
          />
          <img
            *ngIf="companySelected.pig"
            ngSrc="/assets/pig60x40.png"
            alt="chicken"
            width="30"
            height="20"
          />
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div>
          {{ companySelected.description }}
        </div>
        <br />
        <div>
          <a [href]="googleCoordinateUrl(companySelected.coordinate)">
            {{ companySelected.coordinate.lat }},
            {{ companySelected.coordinate.lon }}
          </a>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-sidenav>
  <mat-sidenav-content>
    <div
      class="page-content-wrapper"
      leaflet
      [leafletOptions]="options"
      (leafletClick)="onMapClick($event)"
      (leafletMapReady)="onMapReady($event)"
      (leafletMapMoveEnd)="onMove($event)"
      (leafletMapZoomEnd)="onZoom($event)"
    ></div>
  </mat-sidenav-content>
</mat-sidenav-container>

<div
  class="toggle-sidebar"
  [ngClass]="{ collapsed: !sidebarOpened }"
  [ngStyle]="{ 'background-color': 'white', 'z-index': 99 }"
>
  <div class="btn-toggle-sidebar" (click)="sidenav.toggle()">
    <mat-icon *ngIf="sidebarOpened">chevron_left</mat-icon>
    <mat-icon *ngIf="!sidebarOpened">chevron_right</mat-icon>
  </div>
</div>
