<mat-toolbar>
  <span>{{ title }}</span>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" [(opened)]="opened" class="custom-sidebar">
    <mat-card *ngIf=buildingSelected appearance="outlined">
      <mat-card-header>
        <mat-card-title>Building</mat-card-title>
        <mat-card-subtitle>
          <a [href]="buildingSelected.osmUrl" target=”_blank”>{{ buildingSelected.way_id }}</a>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div>Area: {{ buildingSelected.area | number:'1.0-0' }} m<sup>2</sup></div>
        <div>Size: {{ buildingSelected.length | number:'1.0-0' }} x {{ buildingSelected.width | number:'1.0-0' }} m</div>
        <br/>
        <div class="mat-title-medium">Tags</div>
        <div *ngFor="let key of Object.keys(buildingSelected.tags)">
          {{ key }}: {{ buildingSelected.tags[key] }}
        </div>
      </mat-card-content>
    </mat-card>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="page-content-wrapper"
         leaflet
         [leafletOptions]="options"
         [leafletLayers]="layers"
         (leafletClick)="onMapClick($event)"
         (leafletMapReady)="onMapReady($event)"
    >
    </div>
    Main content
  </mat-sidenav-content>
</mat-sidenav-container>

<div class="toggle-sidebar" [ngClass]="{ 'collapsed': !opened }" [ngStyle]="{'background-color': 'white', 'z-index': 99}">
  <div class="btn-toggle-sidebar" (click)="sidenav.toggle()">
    <mat-icon *ngIf="opened">chevron_left</mat-icon>
    <mat-icon *ngIf="!opened">chevron_right</mat-icon>
  </div>
</div>

